.categories {
    padding-top: 120px;
    padding-bottom: 110px;
}
.categories .col-6 {
    position: relative;
    padding: 15px;
}
.categories .col-6 img:first-child {
    width: 100%;
    height: 265px;
}


.categories .little-img {
    margin: 0 0 0 -15px;
}
  
.categories .little-img img {
    width: 50%;
    height: 265px;
    box-sizing: border-box;
    padding-bottom: 0;
}
  
  
.categories .col-6 + .col-6 img {
    height: 538px;
}
.categories .name {
    position: absolute;
    bottom: 40px;
    left: 35px;
    text-decoration: none;
    color: #22262a;
    background-color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding: 4px 26px;
    transition: 0.4s;
}
.categories .name:hover {
    background-color: #22262a;
    color: #ffffff;
}
  